<% if user_signed_in? %>
  <h1>Dashboard</h1>
  <br>
  <h2>Welcome back, <%= current_user.name %>!</h2>

  <h3>Here are your latest 5 transactions:</h3>
  <%= render 'transactions/table' %>

  <div class='container quicklinks'>
    <div class='row'>
      <div class='col'>
        <h3>View all your transactions</h3>
        <%= link_to transactions_path do %>
          <i class='fas fa-search-dollar'></i>
        <% end %>
      </div>
      <div class='col'>
        <h3>Or jump straight to your portfolio</h3>
        <%= link_to portfolio_index_path do %>
          <i class='far fa-folder-open'></i>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <div class='landing-container row'>
    <div class='landing landing-info col-sm-4'>
      <h1>Manage your stock portfolio</h1>
      <ul>
        <li>Buy and sell stocks from IEX stock exchange.</li>
        <li>Get real-time pricing information with a click of a button.</li>
        <li>Track your transaction history.</li>
        <li>Filter owned stocks and transactions.</li>
      </ul>
    </div>
    <div class='landing landing-form col-sm-5'>
      <h1>Sign up today to get started</h1>
      <%= render partial:'signup', locals: { border: '' } %>
    </div>
  </div>
<% end %>
