<%= link_to "Back", :back, class: 'btn btn-secondary' %>

<div class="authentication">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= bootstrap_form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'auth-edit', local: true) do |f| %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', placeholder: 'Name' %>

    <%= f.email_field :email, autocomplete: 'email', placeholder: 'Email address' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.password_field :password, autocomplete: 'new-password', placeholder: 'Minimum 6 characters', label: "Password (can be left blank if you don't want to change password)" %>

    <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Confirm password' %>

    <%= f.password_field :current_password, autocomplete: 'current-password', label: 'Current password (needed to confirm changes)', placeholder: 'Current password' %>

    <div class="center-btn">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
