<div class='portfolio-header'>
  <h2>Portfolio (<span class='portfolio-balance'><%= number_to_currency(@balance, precision: 2) %></span>)</h2>
  <p>Last updated: <%= Time.now.strftime('%D, %r') %></p>
</div>
<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>Symbol</th>
      <th scope='col'>Shares</th>
      <th scope='col'>Price ($)</th>
      <th scope='col'>Change ($)</th>
      <th scope='col'>Total ($)</th>
    </tr>
  </thead>
  <tbody>
    <% @shares.each do |share|%>
      <% ticker = share[:ticker] %>
      <% qty = share[:num_shares] %>
      <% info = @info[ticker.to_sym] %>
      <% price = info[:price] %>
      <% change = (price - info[:open]).floor(2) %>
      <% color =
          change > 0 ? 'increase' :
          change < 0 ? 'decrease' :
          'nochange'%>
      <tr>
        <td id=<%= ticker %> class=<%= color %>><%= ticker %></td>
        <td><%= qty %></td>
        <td class=<%= color %>><%= '%.2f' % price %></td>
        <td class=<%= color %>><%= '%.2f' % change %></td>
        <td class=<%= color %>><%= '%.2f' % (price * qty) %></td>
      </tr>
    <% end %>
  </tbody>
</table>