<h1>Portfolio (<%= number_to_currency(@balance, precision: 2) %>)</h1>
<h2>Balance: <%= number_to_currency(current_user.cash, precision: 2) %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Quote</th>
    </tr>
  </thead>
  <tbody>
    <% @shares.each do |stock|%>
      <tr>
        <td><%= stock.ticker %></td>
        <td><%= stock.num_shares %></td>
        <td><%= number_to_currency(@stock_prices[stock.ticker.to_sym], precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>