<h1>Portfolio</h1>
<h2>Balance: <%= @portfolio.balance %></h2>
<ul>
  <% @portfolio.owned_shares.each do |stock| %>
    <li>
      <h3><%= stock.ticker %> | <%= stock.num_shares %> | <%= @stock_prices[stock.ticker.to_sym] %></h3>
    </li>
  <% end %>
</ul>

<div class="trade-container">
  <%= form_with url: transactions_path do |f| %>
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>

    <%= f.label :qty %>
    <%= f.number_field :qty %>

    <%= f.submit 'Create' %>
  <% end %>
</div>
