<%= bootstrap_form_with(model: resource, as: resource_name, url: session_path(resource_name), class: "#{border}", local: true) do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email address' %>

  <%= f.password_field :password , autocomplete: 'current-password', placeholder: 'Password' %>

  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me %>
  <% end %>

  <div class="center-btn">
    <%= f.submit 'Log In' %>
  </div>
  <div class='center-btn'>
    <%= render 'devise/shared/links' %>
  </div>
<% end %>
