<%= bootstrap_form_with(model: resource, as: resource_name, url: registration_path(resource_name), class: 'signup-border', local: true) do |f| %>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %>

  <%= f.email_field :email, autocomplete: 'email', placeholder: 'Email address' %>

  <%= f.password_field :password , autocomplete: 'current-password', placeholder: 'Minimum 6 characters' %>

  <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: 'Confirm password' %>

  <div class='auth-btn'>
    <%= f.submit 'Sign up' %>
  </div>
<% end %>